[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-restful = "*"
stripe = "*"
flask-cors = "*"
rollbar = "*"
blinker = "*"
redis = "*"
psycopg2 = "*"
flask-migrate = "*"
webargs = "*"

[requires]
python_version = "3.6"
