[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
flask = "*"
SQLAlchemy = ">=1.3.0"
flask-sqlalchemy = "*"
python-dotenv = "*"
stripe = "*"
flask-cors = "*"
rollbar = "*"
blinker = "*"
redis = "*"
flask-migrate = "*"
webargs = ">=5.1.3"
psycopg2 = "*"
python-jose = "*"
cryptography = "*"

[requires]
python_version = "3.6"
